<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utraq.net.nz.thymeleaf/layout"
	layout:decorate="~{vovi/common/commonLayout}">
<head>

	<meta name="description" content="VOVIC&E 이벤트 페이지"/>
	<title>VOVIC&amp;E 리뷰 이벤트</title>
	<link rel="stylesheet" href="/resources/vovi/reviewEvent/css/reviewEvent.css">
</head>

<body>
	<main layout:fragment="content">
		<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
			<div class="container-xl px-4 mb-4">
				<div class="page-header-content pt-1">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mt-4">
							<h1 class="page-header-title">
								이벤트 참여
							</h1>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="container custom_contailner">
			<div class="card mb-3" id="userAgreeCard">
				<div class="card-header d-flex justify-content-between align-items-center">
					참여 동의서
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="checkAgree">
						<label class="form-check-label" for="checkAgree">동의여부</label>
					</div>
				</div>
				<div class="card-body">
					<div>
						<h3>■ 개인정보 수집이용 동의 <span class="text-red">(필수)</span></h3>
						<ul>
							<li>
								보비씨엔이주식회사는 제품출시10주년 기념 이벤트를 실시하고자, 아래와 같이 개인정보를 수집.이용합니다.
							</li>
							<li>
								1. 수집 항목 : 이름, 전화번호, 주소, 주민등록번호   
							</li>
							<li>
								2. 수집 이용 목적 :고객감사이벤트 지원 및 사은품(경품) 확정 등 의사소통 경로, 이벤트지원자 식별 및 본인 여부 확인, 수다캘럭시 관련
								제품의 안내 및 홍보 등 원활한 의사소통 경로 확보 등
							</li>
							<li>
								3. 수집근거 : 개인정보 보호법 제15조 제1항 
							</li>
							<li>
								4. 보유기간 : 이벤트 지원일로부터 3년 보관후 파기 
							</li>
							<li>
								5. 동의를 거부할 권리가 있으며, 동의를 거부할 경우 본 감사 이벤트와 관련하여 제한이 있을 수 있습니다 .
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="card mb-3" id="reviewerInfoCard" tabindex="0">
				<div class="card-header d-flex justify-content-between align-items-center">
					참여자 정보
				</div>
				<div class="card-body">
					<div class="row">
						<div class="mb-3 col-6">
							<label for="reviewer" class="form-label">
								이름
							</label>
							<input type="text" class="form-control" id="reviewer" placeholder="" required>
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-6">
							<label for="reviewerPhoneNum" class="form-label">
								전화번호
							</label>
							<input type="tel" class="form-control" id="reviewerPhoneNum" placeholder="" required>
						</div>
						<div class="mb-3 col-6">
							<label for="reviewerEmail" class="form-label">
								이메일
							</label>
							<div class="input-group">
								<input type="email" class="form-control" id="reviewerEmail" placeholder="" required>
								<button class="btn btn-outline-secondary" type="button" id="findPostCodeBtn">우편번호찾기</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-6">
							<label for="reviewPostCode" class="form-label">
								우편번호
							</label>
							<div class="input-group">
								<input type="text" class="form-control" id="reviewPostCode" placeholder="" required>
								<button class="btn btn-outline-secondary" type="button" id="findPostCodeBtn">우편번호찾기</button>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="mb-3 col-6">
							<label for="reviewAddress" class="form-label">
								주소
							</label>
							<input type="text" class="form-control" id="reviewAddress" placeholder="" required>
						</div>
						<div class="mb-3 col-6">
							<label for="reviewDetailAddress" class="form-label">
								상세주소
							</label>
							<input type="text" class="form-control" id="reviewDetailAddress" placeholder="" required>
						</div>
					</div>
						<!-- 
						<input type="text" id="sample6_postcode" placeholder="우편번호">
						<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
						<input type="text" id="sample6_address" placeholder="주소"><br>
						<input type="text" id="sample6_detailAddress" placeholder="상세주소"> -->
					
				</div>
			</div>
			
			<div class="card mb-3" id="reviewEventCard" tabindex="0">
				<div class="card-header d-flex justify-content-between align-items-center">
					리뷰 작성
					<div class="float-end">
						<button type="button" id="intermediateSave" class="btn btn-outline-secondary">중간 저장</button>
						<button type="button" id="eventParticipation" class="btn btn-outline-primary">참여</button>
					</div>
				</div>
				<div class="card-body">
					<div class="form-floating mb-3">
						<textarea class="form-control" placeholder="리뷰" id="reviewWrite"></textarea>
						<label for="reviewWrite">리뷰</label>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
<!-- 스크립트 -->
<th:block layout:fragment="script">
	<script src="/resources/vovi/reviewEvent/js/attendEvent.js" crossorigin="anonymous"></script>
</th:block>
</html>