<nav class="border-end sideNav_bar">
	<div class="sidenav-menu mt-5">
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<a class="navLink" href="/review-event/attend-event">
					<button class="btn align-items-center rounded">이벤트참여</button>
				</a>
			</li>
			<li class="mb-1" onclick="beforeWinnerConfirm()">
<!-- 				<a class="navLink" href="/review-event/confirm-winner"> -->
				<a class="navLink" href="javascript:;">
					<button class="btn align-items-center rounded">당첨자 확인</button>
				</a>
			</li>
			<!-- <li class="border-top my-3"></li> -->
			<li class="mb-1">
				<a class="navLink" href="//smartstore.naver.com/sudacell">
					<button class="btn align-items-center rounded">스마트스토어</button>
				</a>
			</li>
			<li class="mb-1">
				<a class="navLink" href="//www.sudacell.co.kr/">
					<button class="btn align-items-center rounded">홈페이지</button>
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="menuOffcanvas" aria-labelledby="menuOffcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="menuOffcanvasLabel">VOVIC&E</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<a class="navLink" href="/review-event/attend-event">
					<button class="btn align-items-center rounded">이벤트참여</button>
				</a>
			</li>
			<li class="mb-1" onclick="beforeWinnerConfirm()">
<!-- 				<a class="navLink" href="/review-event/confirm-winner"> -->
				<a class="navLink" href="javascript:;">
					<button class="btn align-items-center rounded">당첨자 확인</button>
				</a>
			</li>
			<!-- <li class="border-top my-3"></li> -->
			<li class="mb-1">
				<a class="navLink" href="//smartstore.naver.com/sudacell">
					<button class="btn align-items-center rounded">스마트스토어</button>
				</a>
			</li>
			<li class="mb-1">
				<a class="navLink" href="//www.sudacell.co.kr/">
					<button class="btn align-items-center rounded">홈페이지</button>
				</a>
			</li>
		</ul>
	</div>
</div>