@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Noto+Sans+KR:100,300,400,700,900|Open+Sans:300,400,700,800|Roboto:100,300,400,700,900&amp;subset=korean);

h1, h2, h3, h4, h5, h6, th, [class*="hint--"]:after {font-family:Poppins, Helvetica, Arial, Open Sans, Noto Sans KR, sans-serif;}
body, .gmap-marker-wrap {font-family:Louis George Cafe, Poppins, Helvetica, Arial, Open Sans, Noto Sans KR, sans-serif;font-weight:400;}

li {
	list-style: none;
}

.branding__logo img{
	padding: 15px 0px;
	width: 170px;
	height: 68px;
}

.light-logo {
	display: none;
}

.headerLogo {
	background-color: #ffffff;
}

footer {
	background-color: #ffffff;
	height: 70px;
}

.menu-btn button{
	margin-top: 13px;	
}

nav  {
	padding-top: 60px;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 68px;
}

nav a {
}

.sideNav {
	float: left;
	width: 100%;
}

.sideNav_content {
	float: left;
}

.sideNav_bar {
	width: 240px;
	position: fixed;
	
}

.navLink:focus, .navLink:hover {
	color: #0a58ca!important;
}

.active {
	border-bottom: 3px solid #0d62fd1f;

}
.active button {
	color: #0061F2 !important;
	font-weight: bold;
}

#menuOffcanvas {
	width: 240px; 
}

main {
	margin-left: 240px;
	margin-top: 70px;
}

@media (width <= 992px) {
	.sideNav_bar{
		display: none;
	}
	main {
		margin-left: 0px;
	}
	.menu-btn {
		display: block!important;	
	}
	footer {
		width: 100%!important; 
		margin-left: 0px!important;
	}
}

@media (width < 1000px){
	.menu-btn {
		display: none;	
	}
	footer {
		margin-left: 240px;
	}
}

@media (width >= 1000px) and (width < 1100px){
	.menu-btn {
		display: none;	
	}
	footer {
		margin-left: 240px;
	}
	
}

@media (width >= 1100px){
	.menu-btn {
		display: none;	
	}
	footer {
		margin-left: 240px;
	}
} 

/* 반응형 재설정 */

@media (min-width: 576px){
	.container, .container-sm {
		max-width: 450px!important;
	}
}

@media ( min-width : 768px) {
	.custom_contailner {
		margin-left: 70px!important;
	}
	.container-md, .container-sm, .container {
		max-width: 750px!important;
	}
}

@media ( min-width : 992px) {
	.container-lg, .container-md, .container-sm, .container {
		max-width: 800px!important;
	}
}

@media ( min-width : 1200px) {
	.custom_contailner {
		margin-left: 40px!important;
	}
	.container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 950px!important;
	}
}

@media ( min-width : 1500px) {
	.custom_contailner {
		margin-left: 40px!important;
	}
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 1440px!important;
	}
}


/* .gnbActive {
	border-bottom: 3px solid #0061F2;
	color: #0061F2 !important;
} */


/* 스크롤바 css 개선 */
.dataTables_scrollBody::-webkit-scrollbar, textarea::-webkit-scrollbar, div::-webkit-scrollbar {
	width: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
	background-color: #0080ff;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.dataTables_scrollBody::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
	background-color: #d4d4d4;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px #f1f1f1;
}
